.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33333333%;
}

.g-0 {
  display: flex;
  justify-content: center;
}

.my_wrap {
  display: flex;
  flex-wrap: wrap;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}
